@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
}

.tw_sh {
  text-shadow: .1px .1px 3px white;
}

.to_sh {
  text-shadow: .1px .1px 3px orangered;
}

.bx_sh {
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.493);
}

.ox_sh {
  box-shadow: .5px .5px 5px 0px orangered;
}

.wx_sh {
  box-shadow: .5px .5px 5px 0px white;
}

.custom-number-input::-webkit-outer-spin-button,
.custom-number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@media screen and (max-width:480px) {
  .line_width {
    width: 23%;
  }
.bh{
  height: 150px;
}
  .cn {
    justify-content: center;
  }
  .fs_1{
    font-size: 10px;
  }
   .fs_2{
    font-size: 13px;
  }
  .dot_3icon{
    right: 0px;
    font-size: 15px;
    top:10px;
  }
}

@media screen and (max-width:400px) {
  .dn {
    display: none;
  }

  .inp {
    width: 92%;
  }
 .fs_1{
    font-size: 9px;
    margin-top: 10px;
    text-align: center;
  }
  .fs1 {
    font-size: 20px;
  }
   .fs_2{
    font-size: 12px;
    text-align: center;
  }
  .bh{
    height: 135px;
  }
}